{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block body %}
    <h1>Trip index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Diver</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td>{{ trip.date ? trip.date|date('Y-m-d') : '' }}</td>
                <td>{{ trip.vehicle ? trip.vehicle.brand : '' }}</td>
                <td>{{ trip.vehicle ? trip.vehicle.model : '' }}</td>
                <td>{{ trip.driver ? trip.driver.name : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trip_new') }}">Create new</a>
{% endblock %}
