{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>Plate</th>
                <td>{{ vehicle.plate }}</td>
            </tr>
            <tr>
                <th>License_required</th>
                <td>{{ vehicle.licenseRequired }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_index') }}">back to list</a>

    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
