<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.date) }}
        {{ form_row(form.vehicle) }}
        {{ form_row(form.driver) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>